.crust { 
  width: 350px; 
  height: 350px; 
  background: blue; 
  border-radius: 250px; 
  position: absolute; 
  top: 120px; 
  left: 400px; 
  
}
.outer { 
  width: 250px; 
  height: 250px; 
  background: gray; 
  border-radius: 250px;  
  position: absolute; 
  top: 50px; 
  left: 50px; 
}
.inner { 
  width: 200px; 
  height: 200px; 
  background: green; 
  border-radius: 250px;  
  position: relative; 
  top: 25px; 
  left: 25px; 
}
.core { 
  width: 100px; 
  height: 100px; 
  background: yellow; 
  border-radius: 230px;  
  position: relative; 
  top: 50px; 
  left: 50px; 

}
.core a{
  text-decoration: none;
  color: black;
  position: relative;
  top: 30px;
  left: 25px;
}
.line1{
  border-bottom: 3px solid black;



  padding: 0px;
}